<footer class="footer">

        {% if site.accounts %}
        <p>
            {% for item in site.accounts %}
            <a href="{{ item.link }}">
                <svg viewBox="0 0 50 50" class="account-img" 
                onMouseOver="this.style.color='{{ item.color }}'" 
                onMouseOut="this.style.color='#d8d8d8'">
                    <path d="{{ site.logos[item.name] }}"/>
                </svg>
            </a>
            {% endfor %}
        </p>
        {% endif %}

        <p>© 2018 Created by André Silva</p>
</footer>